@model OverDeRheinKraanKeuringen.Models.Assignment

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Opdracht</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.WorkInstruction)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WorkInstruction)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CableSupplier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CableSupplier)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Observations)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Observations)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OperatingHours)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OperatingHours)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Reason)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Reason)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Signature)
        </dt>
        <dd>
            @if (Model.Signature != null)
            {
                <img style="height:auto; width:100px" id="Image" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(Model.Signature))" />
            }
        </dd>
    </dl>
    <form asp-action="Edit" asp-route-id="@Model.Id">
        <input type="submit" value="Wijzig" class="btn btn-success" />
        <br />
        <br />
        <a asp-action="Index">Terug naar lijst</a>
    </form>
</div>
