@model IEnumerable<OverDeRheinKraanKeuringen.Models.Assignment>

@{
    ViewData["Title"] = "Index";
}

<h2>Opdrachten</h2>
<br />
<form>
    <button class="btn-success" asp-action="Create">Nieuwe opdracht</button>
</form>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Opdrachtnr.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CableSupplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperatingHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Signature)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="panel panel-default">
        @foreach (var item in Model)
        {
            int i = item.Id;

            <tr class="panel-heading">
                <td class="panel-title">
                    <a data-toggle="collapse" data-parent="#accordionY" href="#collapse_@i">@i</a>
                </td>
                <td class="panel-title">
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td class="panel-title">
                    @Html.DisplayFor(modelItem => item.CableSupplier)
                </td>
                <td class="panel-title">
                    @Html.DisplayFor(modelItem => item.OperatingHours)
                </td>
                <td class="panel-title">
                    @if(item.Signature != null) { 
                    <div class="Image" style="float:right; ">
                        <img style="height:auto;width:50px" id="Image" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(item.Signature))" />
                    </div>
                    }
                </td>
                <td>
                    <form>
                        <button class="btn-primary" asp-action="Details" asp-route-id=@item.Id.ToString()>Toon details</button>
                        <button style="margin-left:10px" class="btn-danger" asp-action="Delete" asp-route-id=@item.Id.ToString()>Verwijder</button>
                    </form>       
                </td>
            </tr>

            <tr>
                <td id="collapse_@i" class="panel-collapse collapse">
                    <div class="panel-body">
                        <partial name="~/Views/Shared/_AssignmentPartial.cshtml" model=item>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>
