@model IEnumerable<OverDeRheinKraanKeuringen.Models.Assignment>

@{
    ViewData["Title"] = "Index";
}

<h2>Opdrachten</h2>
<br />
<form>
    <button class="btn-success" asp-action="Create">Nieuwe opdracht</button>
</form>
<br />
<table class="table">
    <thead>
        <tr>
            <th>
                Opdrachtnr.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CableSupplier)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OperatingHours)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Signature)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.WorkInstruction)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CableSupplier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Observations)
            </td>
            <td>
                @if (item.Signature != null)
                {
                    <div class="Image" style="float:right; ">
                        <img style="height:auto;width:200px" id="Image" src="@String.Format("data:image/png;base64,{0}", Convert.ToBase64String(item.Signature))" />
                    </div>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OperatingHours)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Reason)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
